@import "./reset.css";

body {
  background-color: #332B33;
}

.code {
  position: fixed;
  top: 51.5%;
  width: 100%;
  text-align: center;
  font-family: Helvetica, Arial;
  font-size: 1.5rem;
  z-index: 10;
}

.gameintro {
  position: fixed;
  z-index: 10;
  top: 31%;
  padding-left: 5%;
  color: white;
  font-family: Helvetica;
  width: 90%;
  text-align: center;
}

#p5_loading {
  color: #332B33;
  background-color: #332B33;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingImg {
  transform-origin: center;
}

span {
  color: #FCEE21;
}

canvas {
  display: block;
}

.textfield {
  width: 90%;
  height: 3rem;
  font-size: 1.5rem;
  font-family: Helvetica, Arial;
  border: none;
  text-align: center;
  border-radius: 0;
}

.submit {
  width: 90%;
  height: 3rem;
  display: inline-block;
  border: none;
  background-color: #FCEE21;
  color: black;
  outline: none;
  font-weight: 600;
  font-size: 1.2rem;
  font-family: Helvetica, Arial;
  border-radius: 0;
}

.submit:focus {
  background-color: white;
}

.field {
  position: fixed;
  width: 100%;
  top: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 7rem;
  justify-content: space-between;
}
